/*CSS StyleSheet del index - GENERAL*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.sticky {
    background-color: #1CD1B0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    padding: 2px;
    position: sticky; top: 0px;
    z-index: 9999999;
}


h1 {
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 30px;
    padding: 7px;
    position:relative;
}

nav {
    font-size: 10px;
    text-decoration: none;
    background-color: #001D2D;
    padding: 10px;
    position: relative;
    text-align: right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


li {
    display: inline-block;
    padding-left: 10px;
    font-size: 16px;
}

.heart {
    color: #CC2424;
    font-size: 40px;
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
}


.iconoPlus {
    color: #00669F;
    font-size: 70px;
    position: fixed; 
    top: 80%;
    left: 92%;

}

.card {
    background-color: #F3F3F3;
    border-radius: 70px 70px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5% auto;
    position: relative;
    text-align: center;
    width: 500px;  
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}

.imagenbg {
    border-radius: 50px 50px 0px 0px;
    display: inline-block;
    position: relative;
    width: 500px;
}

.nombreheroe {
    padding: 40px;
    position: relative;
    text-align: center;
    top: 60px;
}

p {
    font-size: 20px;
    padding: 30px;
    text-align: justify;
}

.fotoPerfil {
    border-radius: 100%;
    height: 180px;
    left: 150px;
    position: absolute;
    top: 250px;
    width: 200px;
}

.agregarHeroe {
    text-decoration: none;
    color: #00669F;
}

.agregarHeroe:hover {
    color: #23003c;
    transition: all 1s;
}


a {
    text-decoration: none;
    color:white;
}

h3 {
    background-color: #00669F;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 18px;
    width: 200px;
}

footer {
    position: relative;
    background-color: #00669F;
    color: white;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}


/*CSS StyleSheet Registro*/


.boxform {
    margin: 50px auto;
    position: relative;
    text-align: justify;
    width: 500px; 
    margin-top: 10%; 
    margin-bottom: 20%;
}

.registro {
    font-size: 80px;
    color: #333333;
    font-family: inter;
    font-style: normal;
}

.registro_1, .login_1, .contacto_1 {
    width: 500px;
    font-size: 20px;
    display: inline-block;
    padding-bottom: 50px auto;
    padding: 10px;
    margin: 6px;
    box-sizing: border-box;
}

.reset  {
    background-color: #888888;
    width: 220px;
    padding: 14px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 40px;
    text-align: center;
    font-family: karla;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: white;
    border: none;
}

.submit {
    background-color: #1CD1B0;
    width: 220px;
    padding: 14px;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
    left: 290px;
    border-radius: 40px;
    text-align: center;
    font-family: karla;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color:whitesmoke;
    border: none;
}

.tenescuenta {    
    position: absolute;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    top: 510px;
    left: 110px;
}

.tenescuentalink {
    color: #00669F;
    text-align: center;

}

/*CSS StyleSheet Login*/

.ingresar {
    font-size: 80px;
    color: #333333;
    font-family: inter;
    font-style: normal;
}

.login {
    background-color: #1CD1B0;
    width: 510px;
    padding: 14px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 10% auto;
    border-radius: 40px;
    text-align: center;
    font-family: inter;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color:black;
    border: none;
}

.notenescuenta {    
    position: absolute;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    top: 310px;
    left: 80px;

}

.notenescuentalink {
    color: #00669F;
    text-align: center;
}


/*CSS StyleSheet Contacto*/

textarea {
    margin: 5% auto;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

/*CSS StyleSheet agregarHeroe*/


.boxagregar{
    column-count: 2;
    background-color: #00669F;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10% auto;
    position: relative;
    text-align: center;
    width: 700px;  
    padding: 10% auto;
    color: #fff;
    padding-bottom: 3%;
}

.tituloformulario{
    column-span:all;
    text-align: center;
    padding: 2%;
}

.columna1 {
    text-align: left;
    margin: 2% auto;
    padding: 6%;
}

.columna2, h4 {
    text-align: left;
    margin: 2% auto;
    padding: 6%;
    text-align: left;
}

#Nombre, #Fecha, #descripcion, #Especie, #Foto{
    width: 90%;
    padding: 3%;
    margin: 2%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #00669F;
}

.aniadirHeroe {
    background-color: #1CD1B0;
    width: 210px;
    padding: 10px;
    position: relative;
    right: 50%;
    
    border-radius: 40px;
    text-align: center;
    font-family: inter;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color:black;
    border: none;
}

.aniadirHeroe:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}